{% extends "../base.html" %}
{% load static %}

{% block title %} Systems {% endblock %}

{% block body %}
<header class="banner">
    <h1>Telescope</h1>
</header>

<main>
    <div class="button_bar">
        <a class="btn primary" href="{% url 'system.add' %}">
            Add System
        </a>
    </div>

    {% for system in systems %}
    <div class="system" style="border: 1px solid black;">
        <h2>{{ system.name }}</h2>

        <i>{{ system.agent_id }}</i>

        <a class="btn primary" href="{% url 'system.view' system.id %}">
            View
        </a>

        <a class="btn primary" href="{% url 'system.edit' system.id %}">
            Edit
        </a>
    </div>
    {% endfor %}
</main>

{% endblock body %}
