{% extends "../base.html" %}
{% load static %}

{% block title %} View system {{ system.id }} {% endblock %}

{% block body %}
<header class="banner">
    <h1>View system {{ system.name }}</h1>
</header>

<main>

<a class="btn primary" href="{% url 'system.edit' system.id %}">
    Edit
</a>

<a class="btn primary" href="{% url 'system.delete' system.id %}">
    Delete
</a>

{% if snapshot %}
<div class="snapshot">
    <h2>Latest Report</h2>

    <hr>
    <br>

    <div class="cpu">
        <h3>CPU</h3>
        {% for core in snapshot.cpu_cores.all %}
        <p>
            Core {{ core.number }}: {{ core.usage }} @ {{ core.freq_mhz}} MHz
        </p>
            
        {% endfor %}
    </div>

    <hr>
    <br>

    <div class="memory">
        <h3>Memory</h3>

        <p>Total (kB): {{ snapshot.memory_total_kb }}</p>
        <p>Free (kB): {{ snapshot.memory_free_kb }}</p>
        <p>Used (kB): {{ snapshot.memory_used_kb }}</p>
        <p>Available (kB): {{ snapshot.memory_avail_kb }}</p>
        
    </div>

    <hr>
    <br>

    <div class="storage">
        <h3>Storage</h3>
        {% for storage in snapshot.storages.all %}
            <h4>{{ storage.mountpoint }}</h4>
            <p>Total (kB): {{ storage.total_kb }}</p>
            <p>Free (kB): {{ storage.free_kb }}</p>
            <p>Used (kB): {{ storage.used_kb }}</p>
            <p>Utilization: {{ storage.utilization }}</p>
        {% endfor %}
    </div>

    <hr>
    <br>

    <div class="temperature">
        <h3>Sensors</h3>
        {% for sensor in snapshot.temps.all %}
            <h4>{{ sensor.group }}: {{ sensor.name }}</h4>
            <p>Temp. (&deg;C): {{ sensor.temp_c }}</p>
        {% endfor %}
    </div>

    <hr>
    <br>

    <div class="fan">
        <h3>Fans</h3>
        {% for fan in snapshot.fans.all %}
            <h4>{{ fan.group }}: {{ fan.name }}</h4>
            <p>Speed (RPM): {{ fan.rpm }}</p>
        {% endfor %}
    </div>

    <hr>
    <br>
</div>
{% endif %}
    
</main>

{% endblock body %}
